<div class="container mt-5">
    <h2><%= title %></h2>
    <form action="/admin/board/write/1" method="POST" onsubmit="return saveContent();">
        <!--        <input type="hidden" name="mem_id" value="1" />-->
        <table class="table">
            <tbody>
            <tr>
                <td><label for="postCategory" class="form-label">종류</label></td>
                <td>
                    <select class="form-select" id="men_type" name="men_type" required>
                        <option value="" disabled selected>종류를 선택하세요</option>
                        <option value="page">페이지</option>
                        <option value="board">게시판</option>
                        <option value="link">링크</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="men_title" class="form-label">메뉴명</label></td>
                <td>
                    <input type="text" class="form-control" id="post_title" name="post_title"
                           placeholder="메뉴명을 입력하세요"
                           value=""
                           required>
                </td>
            </tr>
            <tr id="page_content">
                <td><label for="post_content" class="form-label">페이지 내용</label></td>
                <td>
                    <div id="summernote"></div>
                    <input type="hidden" id="post_content" name="post_content" />

                </td>
            </tr>
            <tr id="link_address">
                <td><label for="men_title" class="form-label">링크</label></td>
                <td>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="men_link_window_open"
                                   name="men_link_window_open" value="Y">
                            <label class="form-check-label" for="men_link_window_open">새창 열기</label>
                        </div>
                        <div class="mt-2">
                            <input type="text" class="form-control" id="men_link" name="men_link"
                                   placeholder="링크를 입력하세요" required>
                        </div>
                    </div>
                </td>
            </tr>
            <tr id="board_skin">
                <td><label for="postCategory" class="form-label">스킨</label></td>
                <td>
                    <select class="form-select" id="men_type" name="men_type" required>
                        <option value="" disabled selected>종류를 선택하세요</option>
                        <option value="bulletin">bulletin</option>
                        <option value="faq">faq</option>
                        <option value="gallery">gallery</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-end">
                    <button type="submit" class="btn btn-primary">작성하기</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<script src="/admin/js/memWrite.js"></script>
