<div class="container mt-5">
    <h2><%= title %></h2>
    <form action="/admin/layout/main" method="post" onsubmit="return saveContent();">
        <table class="table">
            <tbody>
            <tr>
                <td><label for="data.post_content" class="form-label">내용</label></td>
                <td>
                    <div id="summernote"><%- data.main ? data.main : ''; %></div>
                    <input type="hidden" id="summernote_content" name="main_content" />

                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-end">
                    <button id="preview_button" type="button" class="btn btn-secondary">미리보기</button>
                    <button type="submit" class="btn btn-primary">작성하기</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script>
</script>
